USE [master]
GO
/****** Object:  Database [NHANVIEN]    Script Date: 7/19/2025 3:26:27 PM ******/
CREATE DATABASE [NHANVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NHANVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER02\MSSQL\DATA\NHANVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NHANVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER02\MSSQL\DATA\NHANVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NHANVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NHANVIEN]
GO
/****** Object:  Table [dbo].[NV]    Script Date: 7/19/2025 3:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV](
	[IDNV] [int] NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[TUOI] [int] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[PB] [nvarchar](50) NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NV] ([IDNV], [TEN], [TUOI], [EMAIL], [PB]) VALUES (1002, N'Minh Thuận', 22, N'mthuan@gmail.com', N'Truyền thông')
INSERT [dbo].[NV] ([IDNV], [TEN], [TUOI], [EMAIL], [PB]) VALUES (1003, N'Nguyễn Hân', 21, N'nhan@gmail.com', N'Tài chính')
INSERT [dbo].[NV] ([IDNV], [TEN], [TUOI], [EMAIL], [PB]) VALUES (1004, N'Ngô Hải', 22, N'nhai@gmail.com', N'Tài chính')
GO
/****** Object:  StoredProcedure [dbo].[chon_nv]    Script Date: 7/19/2025 3:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[chon_nv]
AS
BEGIN
    SELECT [IDNV], [TEN], [TUOI], [EMAIL], [PB]
    FROM [dbo].[NV]
END
GO
/****** Object:  StoredProcedure [dbo].[sua_nv]    Script Date: 7/19/2025 3:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sua_nv]
    @IDNV int,
    @TEN nvarchar(50),
    @TUOI int,
    @EMAIL nvarchar(50),
    @PB nvarchar(50)
AS
BEGIN
    UPDATE [dbo].[NV]
    SET [TEN] = @TEN,
        [TUOI] = @TUOI,
        [EMAIL] = @EMAIL,
        [PB] = @PB
    WHERE [IDNV] = @IDNV
END
GO
/****** Object:  StoredProcedure [dbo].[them_nv]    Script Date: 7/19/2025 3:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[them_nv]
    @IDNV int,
    @TEN nvarchar(50),
    @TUOI int,
    @EMAIL nvarchar(50),
    @PB nvarchar(50)
AS
BEGIN
    INSERT INTO [dbo].[NV] ([IDNV], [TEN], [TUOI], [EMAIL], [PB])
    VALUES (@IDNV, @TEN, @TUOI, @EMAIL, @PB)
END
GO
/****** Object:  StoredProcedure [dbo].[xoa_nv]    Script Date: 7/19/2025 3:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[xoa_nv]
    @IDNV int
AS
BEGIN
    DELETE FROM [dbo].[NV]
    WHERE [IDNV] = @IDNV
END
GO
USE [master]
GO
